body{
    background:rgba(245, 237, 243, 0.24);
}
#titulo{
    color:red;
    text-align: center;
    font-size: 30px;  
}
.texto1{
    color:rgb(108, 108, 150);
    text-align: center;
    font-size: 25px;
    background-color: aquamarine;
}
.texto2{
    color:rgb(189, 28, 152);
    text-align: center;
    font-size: 25px;
    background-color: darkkhaki;
}
#foto{
    padding: 20px;
    margin: 20px;
}
.img{
    text-align: center;
}
