body{
    background-image: linear-gradient(black , white);
}
#titulo{
    color:red;
    text-align: center;
    font-size: 30px;  
}
.texto1{
    color:rgb(212, 212, 236);
    text-align: center;
    font-size: 25px;
    background-color: rgb(20, 20, 20);
    padding: 15px;
}
.texto2{
    color:rgb(231, 197, 223);
    text-align: center;
    font-size: 25px;
    background-color: rgb(23, 23, 22);
    padding: 15px;
}
#foto{
    padding: 20px;
    margin: 20px;
}
.img{
    text-align: center;
}
.lista{
   font-size: 25px;
   color: black;
   background-color: white;
}
li {
    list-style-type: none;
  }
