body{
    background-color: bisque;
}
#titulo{
    color:red;
    text-align: center;
    font-size: 30px;  
}
.texto1{
    color:rgb(108, 108, 150);
    text-align: center;
    font-size: 25px;
    background-color: aquamarine;
}
.texto2{
    color:rgb(189, 28, 152);
    text-align: center;
    font-size: 25px;
    background-color: darkkhaki;
}
